---
# file: roles/sqlite/tasks/main.yml
- name: Install SQLite package
  apt:
    name: 
      - sqlite3
      - sqlite3-doc
    state: present

- name: Ensure SQLite data directory exists
  file:
    path: /etc/sqlite3
    state: directory

- name: Copy the sqlite initialization script
  ansible.builtin.template:
    src: templates/etc_sqlite3_sqlite.init.sql.j2
    dest: /etc/sqlite3/sqlite_init.sql
    owner: root
    group: root
    mode: '0700'

- name: Ensure SQLite database directory exists
  file:
    path: /var/lib/sqlite
    state: directory

- name: Initialize SQLite database
  shell: sqlite3 /var/lib/sqlite/mydatabase.db < /etc/sqlite3/sqlite_init.sql
